 <app-menu></app-menu>
 <div class="TituloPagina">
    <span>Início</span>
  </div>
 <div class="container">
    <div class="form-row">
      <div class="form-group col-md-10">
        <input type="text" class="form-control  mb-3 mt-3" id="txtCodigo" >
      </div>
      <div class="form-group col-md-2">
        <button type="button" class="btn btn-secondary mb-3 mt-3 rounded-pill">Pesquisar</button>
      </div>
    </div>
    <table class="table">
          <thead class="tabelas">
            <tr>
              <th scope="col">Código</th>
              <th scope="col">Pedido</th>
              <th scope="col">Cliente</th>
              <th scope="col">Valor</th>
              <th scope="col">Alterar</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td></td>
              <td></td>
              <td></td>
              <td>Alterar</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td></td>
              <td></td>
              <td></td>
              <td>Alterar</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td></td>
              <td></td>
              <td></td>
              <td>Alterar</td>
            </tr>
          </tbody>
        </table>
  </div>
 <app-footer></app-footer>