<app-menu></app-menu>
<div class="TituloPagina">
  <span>Cadastro de Categoria de Endereço</span>
</div>

<form>
  <div class="container corpo">
    <app-alert aria-live="polite" aria-atomic="true"></app-alert>
    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="txtCodigo">Código</label>
        <input type="text" class="form-control" id="txtCodigo" name="codigo"
          [(ngModel)]="categoria.IdCategoriaEndereco">
      </div>
      <div class="form-group col-md-5">
        <label for="txtNome">Nome</label>
        <input type="text" class="form-control" id="txtNome" name="nome" [(ngModel)]="categoria.Nome">
      </div>
      <div class="form-group col-md-5">
        <label for="txtApelido">Descrição</label>
        <input type="text" class="form-control" id="txtDescricao" name="descricao" [(ngModel)]="categoria.Descricao">
      </div>
    </div>
    <table class="table">
      <thead class="tabelas">
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Nome</th>
          <th scope="col">Descrição</th>
          <th scope="col">Selecionar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let categoria of categorias">
          <th scope="row">{{categoria.IdCategoriaEndereco}}</th>
          <td>{{categoria.Nome}}</td>
          <td>{{categoria.Descricao}}</td>
          <td><button class="btn btn-info btnselecionar btn-sm" (click)="selecionarCategoria(categoria)">
              <mat-icon [inline]="true" aria-hidden="false" aria-label="selecionar">done_outline</mat-icon>
            </button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-footer>
    <span rodape>
      <button type="button" (click)="Gravar()" class="btn btn-secondary ml-5 rounded-pill">Salvar</button>
      <button type="button" (click)="Excluir()" class="btn btn-secondary ml-5 rounded-pill">Excluir</button>
      <button type="button" (click)="Limpar()" class="btn btn-secondary ml-5 rounded-pill">Novo</button>
    </span>
  </app-footer>

</form>