<app-menu></app-menu>
 <div class="TituloPagina">
   <span>Cadastro de Categoria de Endereço</span>
 </div>

<form>
    <div class="container corpo">
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="txtCodigo">Código</label>
                <input type="text" class="form-control" id="txtCodigo">
            </div>
            <div class="form-group col-md-5">
                <label for="txtNome">Nome</label>
                <input type="text" class="form-control" id="txtNome">
            </div>
            <div class="form-group col-md-5">
                <label for="txtApelido">Descrição</label>
                <input type="text" class="form-control" id="txtApelido">
            </div>
        </div>  
            <table class="table">
              <thead class="tabelas">
                <tr>
                  <th scope="col">Código</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Descrição</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td></td>
                  <td></td>                 
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td></td>
                  <td></td>
                 
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
     </div>           
 <app-footer>
    <span rodape>
        <button type="button" class="btn btn-secondary ml-5 rounded-pill">Salvar</button>
        <button type="button" class="btn btn-secondary ml-5 rounded-pill">Novo</button>
    </span>
 </app-footer>

</form>

