<app-alert aria-live="polite" aria-atomic="true"></app-alert>
<div class="wrapper">
  <div id="formContent">
    <div id="logintitle">
      <h1>Login</h1>
    </div>
    <form (ngSubmit)="onSubmit()" #form="ngForm">
      <input class="form-control" type="email" id="Usuario" name="email" placeholder="Usuario"
        [(ngModel)]="usuario.Login" required>
      <input class="form-control" type="password" id="Senha" name="login" placeholder="Senha"
        [(ngModel)]="usuario.Senha" required>
      <button type="submit" class="btn btn-primary">Entrar</button>
    </form>

  </div>
</div>