<app-menu></app-menu>
<div class="TituloPagina">
  <span>{{NomePagina}}</span>
</div>
<app-alert aria-live="polite" aria-atomic="true"></app-alert>
<form>
  <div class="container corpo">
    <div class="form-row">
      <div class="form-group col-md-1">
        <label for="txtCodigo">Código</label>
        <input type="text" class="form-control" [formControl]="queryPessoa" id="txtCodigo" name="Codigo"
          [(ngModel)]="Pessoa.IdPessoa">
      </div>
      <button type="button" #modalSearchPessoa class="btn btn-info btnsearch btn-sm d-none" data-toggle="modal"
        data-target="#ModalPesquisaPessoa">
        <mat-icon [inline]="true" aria-hidden="false" aria-label="search">search</mat-icon>
      </button>
      <div class="form-group mt-4 col-md-0.5 mr-2">
        <button class="btn btn-info btnsearch " (click)='Pesquisar()'>
          <mat-icon [inline]="true" aria-hidden="false" aria-label="search">search</mat-icon>
        </button>
      </div>

      <div class="form-group col-md-5 mr-2">
        <label for="txtNome">{{labelNome}}</label>
        <input type="text" class="form-control" id="txtNome" name="Nome" [(ngModel)]="Pessoa.NomeRazao" maxlength="100">
      </div>
      <div class="form-group col-md-5">
        <label for="txtApelido">{{labelFantasia}}</label>
        <input type="text" class="form-control" id="txtApelido" name="Apelido" [(ngModel)]="Pessoa.ApelidoFantasia"
          maxlength="100">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <section>
          <div>
            <label class="tipo">Tipo:</label>
          </div>
          <mat-radio-group [(ngModel)]="Pessoa.TipoPessoa" color="primary" name="tipo" (ngModelChange)="alterartipo()">
            <mat-radio-button class="tipo" value="F">Fisico</mat-radio-button>
            <mat-radio-button class="tipo ml-3" value="J">Jurídico</mat-radio-button>
          </mat-radio-group>
        </section>
      </div>
      <div class="form-group col-md-4">
        <label for="txtCpf">{{labelCPFCNPJ}}</label>
        <input type="text" class="form-control" id="txtCpf" [mask]="cpfMask" name="Cpf" [(ngModel)]="Pessoa.CpfCnpj">
      </div>
      <div class="form-group col-md-4">
        <label for="txtRg">{{labelRGIE}}</label>
        <input type="text" class="form-control" id="txtRg" [mask]="rgMask" name="Rg" [(ngModel)]="Pessoa.RgInscricao">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4" *ngIf="!isJuridico">
        <section>
          <div>
            <label class="tipo">Genero:</label>
          </div>
          <mat-radio-group [(ngModel)]="Pessoa.Genero" color="primary" name="genero">
            <mat-radio-button class="genero" value="M">Masculino</mat-radio-button>
            <mat-radio-button class="genero ml-3" value="F">Feminino</mat-radio-button>
          </mat-radio-group>
        </section>
      </div>

      <div class="form-group col-md-4" *ngIf="!isJuridico">
        <label for="txtDataNasc">Data de Nascimento</label>
        <input type="text" class="form-control" [minDate]="minDate" [maxDate]="maxDate" #dp="bsDatepicker" bsDatepicker
          name="DataNascimento" [(bsValue)]="dataNascimento " [bsConfig]="dpConfig" [(ngModel)]="DataNascimento">
      </div>
      <div class="form-group col-md-4" *ngIf="perfil=='1'">
        <label>Cargo</label>
        <mat-form-field appearance="outline">
          <mat-select multiple [(ngModel)]="Pessoa.Vinculos" placeholder="Selecione um cargo" name="Vinculos">
            <mat-option *ngFor="let Vinculo of Vinculos" [(value)]="Vinculo.IdVinculo">
              {{Vinculo.Nome}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>
    <div class="form-row">
      <div class="form-group col-md-4 checkboxInativo">
        <mat-checkbox color="primary" [(ngModel)]="Inativo" name="inativo"> inativo </mat-checkbox>
      </div>
    </div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
          aria-selected="true">Endereço</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
          aria-selected="false">Email</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
          aria-selected="false">Telefone</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <!-- Endereços -->
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="form-row">
          <div class="form-group col-md-10">
            <label for="txtLogradouro">Logradouro</label>
            <input type="text" class="form-control" id="txtLogradouro" [(ngModel)]="Endereco.Logradouro" maxlength="45"
              name="logradouro">
          </div>
          <div class="form-group col-md-2">
            <label for="txtNumero">Numero</label>
            <input type="text" class="form-control" id="txtCtxtNumeroodigo" [(ngModel)]="Endereco.Numero" name="numero"
              maxlength="8">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="txtBairro">Bairro</label>
            <input type="text" class="form-control" id="Bairro" [(ngModel)]="Endereco.Bairro" name="bairro"
              maxlength="45">
          </div>
          <div class="form-group col-md-2">
            <label for="txtCep">CEP</label>
            <input type="text" class="form-control" id="txtCep" mask="00000-000" [(ngModel)]="Endereco.CEP" name="cep"
              maxlength="9" (ngModelChange)="buscarPorCep()">
          </div>
          <div class="form-group col-md-3">
            <label for="txtCidade">Cidade</label>
            <input type="text" class="form-control" id="txtCidade" name="cidade" [(ngModel)]="Endereco.Cidade.Nome"
              name="idCidade">
          </div>
          <div class="form-group">
            <input type="hidden" class="form-control" id="txtcatEnd" name="CatEnd"
              [(ngModel)]="Endereco.Cidade.IdCidade">
          </div>
          <button type="button" #modalSearchCidade class="btn btn-info btnsearch btn-sm d-none" data-toggle="modal"
            data-target="#ModalCidade">
            <mat-icon [inline]="true" aria-hidden="false" aria-label="search">search</mat-icon>
          </button>
          <div class="form-group mt-4 col-md-1">
            <button class="btn btn-info btnsearch btn-sm" (click)="PesquisarCidade()">
              <mat-icon [inline]="true" aria-hidden="false" aria-label="search">search</mat-icon>
            </button>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputState">Categoria</label>
            <select id="inputState" class="form-control" [(ngModel)]="Endereco.CategoriaEndereco.IdCategoriaEndereco"
              (ngModelChange)="SelecionarCategoriaEndereco()" name=" idCategoriaEndereco">
              <option [value]=categoria.IdCategoriaEndereco *ngFor="let categoria of categoriasEndereco">
                {{categoria.Nome}}
              </option>
            </select>
          </div>

          <div class="form-group col-md-8">
            <label for="txtObservacao">Observação</label>
            <input type="text" class="form-control" id="txtObservacao" [(ngModel)]="Endereco.Observacao" maxlength="50"
              name="observacao">
          </div>
        </div>
        <div>
          <button type="button" class="btn btn-secondary mb-3 mt-3 rounded-pill"
            (click)="AdicionarEndereco()">Adicionar</button>
          <button type="button" class="btn btn-secondary ml-5 pl-4 pr-4 rounded-pill"
            (click)="limparEndereco()">Novo</button>
        </div>
        <table class="table">
          <thead class="tabelas">
            <tr>
              <th scope="col">Logradouro</th>
              <th scope="col">Numero</th>
              <th scope="col">Bairro</th>
              <th scope="col">CEP</th>
              <th scope="col">Cidade</th>
              <th scope="col">Categoria</th>
              <th scope="col">Observação</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let endereco of enderecos">
              <td>{{endereco.Logradouro}}</td>
              <td>{{endereco.Numero}}</td>
              <td>{{endereco.Bairro}}</td>
              <td>{{endereco.CEP}}</td>
              <td>{{endereco.Cidade.Nome}}</td>
              <td>{{endereco.CategoriaEndereco.Nome}}</td>
              <td>{{endereco.Observacao}}</td>
              <td><button class="btn btn-info btnselecionar btn-sm" (click)="selecionarEndereco(endereco)">
                  <mat-icon [inline]="true" aria-hidden="false" aria-label="selecionar">done_outline</mat-icon>
                </button></td>
              <td><button class="btn btn-info btnselecionar btn-sm" (click)="excluirEndereco(endereco)">
                  <mat-icon [inline]="true" aria-hidden="false" aria-label="selecionar">clear</mat-icon>
                </button></td>
            </tr>
          </tbody>
        </table>

      </div>

      <!-- Emails -->
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="txtEnderecoEmail">Endereço</label>
            <input type="email" class="form-control" id="txtEnderecoEmail" [(ngModel)]="email.Endereco" name="endereco"
              maxlength="100" email="true">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="CboCategoriaemail">Categoria</label>
            <select id="CboCategoriaemail" class="form-control" [(ngModel)]="email.CategoriaEmail.IdCategoriaEmail"
              (ngModelChange)="SelecionarCategoriaEmail()" name="idCategoriaEmail">
              <option [value]=categoriaEmail.IdCategoriaEmail *ngFor="let categoriaEmail of categoriasEmail">
                {{categoriaEmail.Nome}}
              </option>
            </select>
          </div>

          <div class="form-group col-md-8">
            <label for="txtObservacaoEmail">Observação</label>
            <input type="text" class="form-control" id="txtObservacaoEmail" [(ngModel)]="email.Observacao"
              maxlength="50" name="observacaoEmail">
          </div>
        </div>
        <div>
          <button type="button" class="btn btn-secondary mb-3 mt-3 rounded-pill"
            (click)="AdicionarEmail()">Adicionar</button>
          <button type="button" class="btn btn-secondary ml-5 pl-4 pr-4 rounded-pill"
            (click)="limparEmail()">Novo</button>
        </div>
        <table class="table table-responsive-md">
          <thead class="tabelas ">
            <tr>
              <th scope="col">Endereço</th>
              <th scope="col"> Categoria</th>
              <th scope="col">Observação</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let email of emails">
              <td>{{email.Endereco}}</td>
              <td>{{email.CategoriaEmail.Nome}}</td>
              <td>{{email.Observacao}}</td>
              <td><button class="btn btn-info btnselecionar btn-sm" (click)="selecionarEmail(email)">
                  <mat-icon [inline]="true" aria-hidden="false" aria-label="selecionar">done_outline</mat-icon>
                </button></td>
              <td><button class="btn btn-info btnselecionar btn-sm" (click)="excluirEmail(email)">
                  <mat-icon [inline]="true" aria-hidden="false" aria-label="clear">clear</mat-icon>
                </button></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Telefones -->
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <div class="form-row">
          <div class="form-group col-md-2">
            <label for="txtDdi">DDI</label>
            <input type="text" class="form-control" id="txtDdi" mask="00" [(ngModel)]="telefone.DDI" name="ddi">
          </div>
          <div class="form-group col-md-2">
            <label for="txtDdd">DDD</label>
            <input type="text" class="form-control" id="txtDdd" mask="(00)" [(ngModel)]="telefone.DDD" name="ddd">
          </div>
          <div class="form-group col-md-6">
            <label for="txtNumeroTel">Numero</label>
            <input type="text" class="form-control" id="txtNumeroTel" [(ngModel)]="telefone.Numero" maxlength="9"
              name="NumeroTel">
          </div>
          <div class="form-group col-md-2">
            <label for="txtRamal">Ramal</label>
            <input type="text" class="form-control" id="txtRamal" [(ngModel)]="telefone.Ramal" name="Ramal"
              maxlength="5">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="CboCategoriaTelefone">Categoria</label>
            <select id="CboCategoriaTelefone" class="form-control"
              [(ngModel)]="telefone.CategoriaTelefone.IdCategoriaTelefone"
              (ngModelChange)="SelecionarCategoriaTelefone()" name="idCategoriaEmail">
              <option [value]=categoriaTelefone.IdCategoriaTelefone
                *ngFor="let categoriaTelefone of categoriasTelefone">
                {{categoriaTelefone.Nome}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <input type="hidden" class="form-control" id="txtcatEma" name="CatEma"
              [(ngModel)]="email.DescricaoCategoriaEmail">
          </div>
          <div class="form-group col-md-9">
            <label for="txtObservacaoTelefone">Observação</label>
            <input type="text" class="form-control" id="txtObservacaoTelefone" [(ngModel)]="telefone.Observacao"
              maxlength="100" name="observacaoTelefone">
          </div>
        </div>
        <div>
          <button type="button" class="btn btn-secondary mb-3 mt-3 rounded-pill"
            (click)="AdicionarTelefone()">Adicionar</button>
          <button type="button" class="btn btn-secondary ml-5 pl-4 pr-4 rounded-pill"
            (click)="limparTelefone()">Novo</button>
        </div>
        <table class="table">
          <thead class="tabelas">
            <tr>
              <th scope="col">DDI</th>
              <th scope="col">DDD</th>
              <th scope="col">Numero</th>
              <th scope="col">Ramal</th>
              <th scope="col">Categoria</th>
              <th scope="col">Observação</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let telefone of telefones">
              <td>{{telefone.DDI}}</td>
              <td>{{telefone.DDD}}</td>
              <td>{{telefone.Numero}}</td>
              <td>{{telefone.Ramal}}</td>
              <td>{{telefone.CategoriaTelefone.Nome}}</td>
              <td>{{telefone.Observacao}}</td>
              <td><button class="btn btn-info btnselecionar btn-sm" (click)="selecionarTelefone(telefone)">
                  <mat-icon [inline]="true" aria-hidden="false" aria-label="selecionar">done_outline</mat-icon>
                </button></td>
              <td><button class="btn btn-info btnselecionar btn-sm" (click)="excluirTelefone(telefone)">
                  <mat-icon [inline]="true" aria-hidden="false" aria-label="clear">clear</mat-icon>
                </button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>


  <app-footer>
    <span rodape>
      <button type="submit" class="btn btn-secondary ml-5 " (click)="Gravar()">Salvar</button>
      <button type="button" class="btn btn-secondary ml-5 " (click)="limparTela()">Novo</button>
    </span>
  </app-footer>

</form>

<!-- Modal -->
<div class="modal fade" id="ModalCidade" tabindex="-1" aria-labelledby="ModalCidadeLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalCidadeLabel">Pesquisar Cidade</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-row mb-2">
          <div class="form-group col-md-3">
            <label for="txtCodigo">Pesquisa</label>
            <select id="txtCodigo" class="form-control" [(ngModel)]="FiltroPesquisaCidade" name=" FiltroPesquisaCidade">
              <option [value]=filtroCidade.Codigo *ngFor="let filtroCidade of FiltrosCidade">
                {{filtroCidade.Descricao}}
              </option>
            </select>
          </div>
          <div class="form-group col-md-7 mt-2">
            <label for="inputState"></label>
            <input class="form-control" type="text" name="search" [(ngModel)]="InputFiltroPesquisaCidade">
          </div>
          <div class="form-group col-md-1 mt-2">
            <label for="inputState"></label>
            <button class="btn btn-info btnsearch " (click)='PesquisarCidadePorFiltro()'>
              Pesquisar
            </button>
          </div>
        </div>
        <div class="Teste">
          <table class="table table-striped">
            <thead class="tabelas">
              <tr>
                <th scope="col">Selecionar</th>
                <th scope="col">Nome</th>
                <th scope="col">Estado</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let cidade of Cidades| filter:filter| paginate: { itemsPerPage: 10, currentPage: paginaAtual }; let i = index ">
                <td><button class="btn btn-info btnselecionar btn-sm" data-dismiss="modal" aria-label="Close"
                    (click)="selecionarCidade(cidade)">
                    <mat-icon [inline]="true" aria-hidden="false" aria-label="selecionar">done_outline</mat-icon>
                  </button></td>
                <td>{{cidade.Nome}}</td>
                <td>{{cidade.Estado.Sigla}}</td>
              </tr>
            </tbody>
          </table>
        </div>


      </div>

    </div>
  </div>


</div>


<div class="modal fade" id="ModalPesquisaPessoa" tabindex="-1" role="dialog" aria-labelledby="ModalPesquisaPessoaLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="ModalPesquisaLabel">Pesquisa de Usuário</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-row mb-2">
          <div class="form-group col-md-3">
            <label for="inputState">Pesquisa</label>
            <select id="inputState" class="form-control" [(ngModel)]="FiltroPesquisa" name=" FiltroPesquisa">
              <option [value]=filtro.Codigo *ngFor="let filtro of Filtros">
                {{filtro.Descricao}}
              </option>
            </select>
          </div>
          <div class="form-group col-md-7 mt-2">
            <label for="inputState"></label>
            <input class="form-control" type="text" name="search" [(ngModel)]="InputFiltroPesquisa">
          </div>
          <div class="form-group col-md-1 mt-2">
            <label for="inputState"></label>
            <button class="btn btn-info btnsearch " (click)='PesquisarUsuarioPorFiltro()'>
              Pesquisar
            </button>
          </div>
        </div>
        <div class="grades">
          <table class="table table-striped">
            <thead class="tabelas">
              <tr>
                <th scope="col">Código</th>
                <th scope="col">Nome/Razão Social </th>
                <th scope="col">Apelido/Nome Fantasia</th>
                <th scope="col">CPF/CNPJ</th>
                <th scope="col">Genero</th>
                <th scope="col">Selecionar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pessoa of Pessoas ">
                <th scope="row">{{pessoa.IdPessoa}}</th>
                <td>{{pessoa.NomeRazao}}</td>
                <td>{{pessoa.ApelidoFantasia}}</td>
                <td>{{pessoa.CpfCnpj}}</td>
                <td>{{pessoa.Genero}}</td>
                <td><button class="btn btn-info btnselecionar btn-sm" data-dismiss="modal" aria-label="Close"
                    (click)="selecionarPessoa(pessoa)">
                    <mat-icon [inline]="true" aria-hidden="false" aria-label="selecionar">done_outline</mat-icon>
                  </button></td>
              </tr>
            </tbody>
            <tbody>

            </tbody>
          </table>
        </div>

      </div>

    </div>
  </div>
</div>

<script>
  $('.datepicker').datepicker({
    format: 'dd/mm/yyyy',
    language: 'pt-BR'
  });
</script>