<app-menu></app-menu>
<div class="TituloPagina">
    <span>Cadastro de Pedido</span>
</div>

<form>
    <div class="container corpo">
        <app-alert aria-live="polite" aria-atomic="true"></app-alert>
        <div class="form-row">
            <div class="form-group col-md-1 mr-5">
                <label for="txtCodigo">Código</label>
                <input type="text" class="form-control" id="txtCodigo" [formControl]="queryPedido" name="Codigo"
                    [(ngModel)]="Pedido.IdPedido">
            </div>

            <div class="form-group col-md-1 mr-5">
                <label><b>Criado em:</b></label>
                <label>{{DataPedido}}</label>
            </div>
            <div class="form-group col-md-5">
                <label><b>Situação:</b></label><br>
                <button class="btn  btn-success mb-3">Aberto</button>
            </div>

        </div>
        <div class="form-row" *ngIf="!ClienteEscolhido">
            <div class="form-group col-md-12">
                <button type="button" class="btn btn-info mb-3 mt-3 btn-lg grande" data-toggle="modal"
                    data-target="#ModalPesquisaCliente">Selecionar Cliente</button>
            </div>
        </div>

        <mat-accordion *ngIf="ClienteEscolhido">
            <mat-expansion-panel class="mb-3" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <b>Cliente:</b> {{Cliente.NomeRazao}} / {{Cliente.ApelidoFantasia}}
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label><b>CPF:</b> {{Cliente.CpfCnpj}} </label>
                    </div>
                    <div class="form-group col-md-2">
                        <label><b>RG:</b> {{Cliente.RgInscricao}}</label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label><b>Endereço:</b> {{Endereco}}</label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label><b>Telefone:</b>{{Telefone}}</label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label><b>Email:</b> {{Email }}</label>
                    </div>
                </div>

                <button type="button" data-target="#ModalPesquisaCliente" data-toggle="modal"
                    class="btn btn-secondary ml-1 rounded-pill">Trocar
                    Cliente</button>
                <a routerLink="/CadastroPessoa" [queryParams]="{ id: Cliente.IdPessoa}" target="_blank"><button
                        type="button" class="btn btn-secondary ml-3 rounded-pill">
                        Alterar
                        Cadastro </button> </a>
            </mat-expansion-panel>
        </mat-accordion>

        <div class="form-row">
            <!-- <div class="form-group col-md-4">
                <label for="txtFormaPagamento">Lista de Preço</label>
                <select id="txtFormaPagamento" class="form-control" [(ngModel)]="Pedido.idFormaPagamento"
                    name=" idFormaPagamento">
                    <option [value]=FormaPagamento.IdFormaPagamento *ngFor="let FormaPagamento of FormasPagamento">
                        {{FormaPagamento.Descritivo}}
                    </option>
                </select>
            </div> -->
            <div class="form-group col-md-4">
                <label for="txtFormaPagamento">Forma de Pagamento</label>
                <select id="txtFormaPagamento" class="form-control" [(ngModel)]="Pedido.IdFormaPagamento"
                    name=" idFormaPagamento">
                    <option [value]=FormaPagamento.IdFormaPagamento *ngFor="let FormaPagamento of FormasPagamento">
                        {{FormaPagamento.Descritivo}}
                    </option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group mt-4  col-md-0.5">
                <button type="button" class="btn btn-info btnsearch ">
                    <mat-icon [inline]="true" aria-hidden="false" aria-label="search">search</mat-icon>
                </button>
            </div>
            <div class="form-group col-md-1">
                <label for="txtCodigo">Produto</label>
                <input type="text" class="form-control" [formControl]="queryProduto" id="txtCodigo" name="Codigo"
                    [(ngModel)]="CodigoProduto">
            </div>

            <button #modalSearch class="btn btn-info btnsearch btn-sm d-none" data-toggle="modal"
                data-target="#ModalPesquisa">
                <mat-icon [inline]="true" aria-hidden="false" aria-label="search">search</mat-icon>
            </button>
            <div class="form-group col-md-7">
                <label for="txtNome"> Nome</label>
                <input type="text" class="form-control" id="txtNome" name="descritivo"
                    [(ngModel)]="Produto_PedidoRetorno.Descricao">
            </div>
            <div class="form-group col-md-1">
                <label for="txtPreco">Preço</label>
                <input #myInput type="text" class="form-control" id="txtPreco" name="preco" appSomenteNumeros
                    decimals="2" [(ngModel)]="Produto_PedidoRetorno.Preco">
            </div>
            <div class="form-group col-md-1">
                <label for="txtQuantidade">Quantidade</label>
                <input type="text" class="form-control" id="txtQuantidade" name="quantidade" appSomenteNumeros
                    [(ngModel)]="Produto_PedidoRetorno.Quantidade">
            </div>
            <div class="form-group mt-2 col-md-0.5">
                <button type="button" class="btn btn-secondary mb-3 mt-3 rounded-pill"
                    (click)="AdicionarProduto()">Adicionar</button>
            </div>
        </div>
        <table class="table">
            <thead class="tabelas">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Produto</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Produto_PedidoRetorno of Produtos_PedidoRetorno">
                    <td><button class="btn btn-info btnselecionar btn-sm"
                            (click)="excluirProdutoPedido(Produto_Pedido)">
                            <mat-icon [inline]="true" aria-hidden="false" aria-label="selecionar">clear
                            </mat-icon>
                        </button></td>
                    <td>{{Produto_PedidoRetorno.Descricao}}</td>
                    <td>{{Produto_PedidoRetorno.Preco}}</td>
                    <td>{{Produto_PedidoRetorno.Quantidade}}</td>
                    <td>{{Produto_PedidoRetorno.PrecoFinal}}</td>
                </tr>
                <tr *ngIf="nenhumProduto">
                    <td></td>
                    <td></td>
                    <td>
                        <p class="text-center"> Nenhum Produto adicionado</p>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            <tfoot class="tabelas">
                <tr>
                    <td>Totais</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{TotalProdutos}}</td>
                </tr>
            </tfoot>
        </table>
    </div>



    <app-footer>
        <span rodape>
            <button type="submit" class="btn btn-secondary ml-5 " (click)="Gravar()">Salvar</button>
            <button type="button" class="btn btn-secondary ml-5 " (click)="limpar()">Novo</button>
        </span>
    </app-footer>

</form>


<div class="modal fade" id="ModalPesquisaCliente" tabindex="-1" role="dialog" aria-labelledby="ModalPesquisaPessoaLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="ModalPesquisaLabel">Pesquisa de Cliente</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row mb-2">
                    <div class="form-group col-md-3">
                        <label>Filtrar por:</label>
                        <select id="CboFiltroCliente" class="form-control" [(ngModel)]="FiltroCliente"
                            name="CboFiltroCliente">
                            <option [value]=filtro.Codigo *ngFor="let filtro of FiltrosClientes">
                                {{filtro.Descricao}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-7 mt-2">
                        <label for="inputState"></label>
                        <input class="form-control" type="text" name="search" [(ngModel)]="InputFiltroPesquisa">
                    </div>
                    <div class="form-group col-md-1 mt-2">
                        <label for="inputState"></label>
                        <button class="btn btn-info btnsearch " (click)='PesquisarClientePorFiltro()'>
                            Pesquisar
                        </button>
                    </div>
                </div>
                <div class="grades">
                    <table class="table table-striped">
                        <thead class="tabelas">
                            <tr>
                                <th scope="col">Código</th>
                                <th scope="col">Nome/Razão Social </th>
                                <th scope="col">Apelido/Nome Fantasia</th>
                                <th scope="col">CPF/CNPJ</th>
                                <th scope="col">Genero</th>
                                <th scope="col">Selecionar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let Cliente of Clientes">
                                <th scope="row">{{Cliente.IdPessoa}}</th>
                                <td>{{Cliente.NomeRazao}}</td>
                                <td>{{Cliente.ApelidoFantasia}}</td>
                                <td>{{Cliente.CpfCnpj}}</td>
                                <td>{{Cliente.Genero}}</td>
                                <td><button class="btn btn-info btnselecionar btn-sm" data-dismiss="modal"
                                        aria-label="Close" (click)="selecionarCliente(Cliente)">
                                        <mat-icon [inline]="true" aria-hidden="false" aria-label="selecionar">
                                            done_outline</mat-icon>
                                    </button></td>
                            </tr>
                        </tbody>
                        <tbody>

                        </tbody>
                    </table>
                </div>


            </div>

        </div>
    </div>
</div>