<app-menu></app-menu>
<div class="TituloPagina">
    <span>Cadastro de Usuário</span>
</div>

<form>
    <div class="container corpo">
        <div class="form-row">
            <app-alert aria-live="polite" aria-atomic="true"></app-alert>
            <div class="form-group col-md-1">
                <label for="txtCodigo">Código</label>
                <input type="text" class="form-control" [formControl]="queryUsuario" id="txtCodigo" name="Codigo"
                    [(ngModel)]="Usuario.idUsuario">
            </div>
            <button #ModalPesquisaPessoa class="btn btn-info btnsearch btn-sm d-none" data-toggle="modal"
                data-target="#ModalPesquisaPessoa">
                <mat-icon [inline]="true" aria-hidden="false" aria-label="search">search</mat-icon>
            </button>
            <div class="form-group mt-4 col-md-1">
                <button type="button" class="btn btn-info btnsearch " (click)='Pesquisar()'>
                    <mat-icon [inline]="true" aria-hidden="false" aria-label="search">search</mat-icon>
                </button>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-1">
                <label for="txtNome">Funcionário</label>
                <input type="text" class="form-control" [formControl]="queryPessoa" id="txtNome" name="Codigo"
                    [(ngModel)]="Usuario.idPessoa">
            </div>
            <button type="button" #modalSearchPessoa class="btn btn-info btnsearch btn-sm d-none" data-toggle="modal"
                data-target="#ModalPesquisaPessoa">
                <mat-icon [inline]="true" aria-hidden="false" aria-label="search">search</mat-icon>
            </button>
            <div class="form-group mt-4 col-md-0.5 mr-2">
                <button class="btn btn-info btnsearch " (click)='pesquisarFuncionario()'>
                    <mat-icon [inline]="true" aria-hidden="false" aria-label="search">search</mat-icon>
                </button>
            </div>
            <div class="form-group col-md-3 mt-5">
                <label for="txtNome">{{NomePessoa}}</label>
            </div>
            <div class="form-group col-md-3">
                <label for="PerfilId">Perfil</label>
                <select id="PerfilId" class="form-control" [(ngModel)]="Usuario.idPerfil" name=" idPerfil">
                    <option [value]=perfil.IdPerfil *ngFor="let perfil of Perfis">
                        {{perfil.Nome}}
                    </option>
                </select>
            </div>
            <div class="form-group col-md-3 ml-5 mt-4 checkboxInativo">
                <mat-checkbox color="primary" name="inativo"> Inativo </mat-checkbox>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputState">Email de Login</label>
                <input type="text" class="form-control" id="txtCpf" name="Codigo" [(ngModel)]="Usuario.login">
            </div>
            <div class="form-group col-md-4">
                <label for="txtCpf">Senha</label>
                <input type="password" class="form-control" id="txtCpf" name="Codigo" [(ngModel)]="Usuario.senha">
            </div>
            <div class="form-group col-md-4">
                <label for="txtRg">Confirmação de Senha</label>
                <input type="password" class="form-control" id="txtRg" name="Codigo" [(ngModel)]="ConfirmacaoSenha">
            </div>
        </div>


        <app-footer>
            <span rodape>
                <button type="submit" (click)="Gravar()" class="btn btn-secondary ml-5 rounded-pill">Salvar</button>
                <button type="button" (click)="Limpar()" class="btn btn-secondary ml-5 rounded-pill">Novo</button>
            </span>
        </app-footer>
    </div>


</form>


<div class="modal fade" id="ModalPesquisaPessoa" tabindex="-1" role="dialog" aria-labelledby="ModalPesquisaPessoaLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="ModalPesquisaLabel">Pesquisa de Usuário</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row mb-2">
                    <label for="txtCodigo" class="col-md-1">Pesquisa</label>
                    <input class="form-control col-md-11" type="text" name="search">
                </div>
                <div class="Teste">
                    <table class="table table-striped">
                        <thead class="tabelas">
                            <tr>
                                <th scope="col">Código</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Genero</th>
                                <th scope="col">Selecionar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let Pessoa of Pessoas| filter:filter| paginate: { itemsPerPage: 5, currentPage: paginaAtual }; let i = index ">
                                <th scope="row">{{pessoa.idPessoa}}</th>
                                <td>{{pessoa.nomeRazao}}</td>
                                <td>{{pessoa.apelidoFantasia}}</td>
                                <td><button class="btn btn-info btnselecionar btn-sm" data-dismiss="modal"
                                        aria-label="Close" (click)="selecionarCidade(cidade)">
                                        <mat-icon [inline]="true" aria-hidden="false" aria-label="selecionar">
                                            done_outline</mat-icon>
                                    </button></td>
                            </tr>
                        </tbody>
                        <tbody>

                        </tbody>
                    </table>
                </div>
                <div class="float-right">
                    <pagination-controls previousLabel="Anterior" nextLabel="Proxima" responsive="true" autoHide="true"
                        (pageChange)="handlePageChange($event)"></pagination-controls>
                </div>

            </div>

        </div>
    </div>
</div>