<app-menu></app-menu>
<div class="TituloPagina">
    <span>Cadastro de Usuário</span>
</div>

<form>
    <div class="container corpo">
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="txtCodigo">Código</label>
                <input type="text" class="form-control" id="txtCodigo" name="Codigo" [(ngModel)]="Usuario.idUsuario">
            </div>

            <button #modalSearch class="btn btn-info btnsearch btn-sm d-none" data-toggle="modal"
                data-target="#ModalPesquisa">
                <mat-icon [inline]="true" aria-hidden="false" aria-label="search">search</mat-icon>
            </button>

            <div class="form-group mt-4 col-md-1">
                <button type="button" class="btn btn-info btnsearch " (click)='Pesquisar()'>
                    <mat-icon [inline]="true" aria-hidden="false" aria-label="search">search</mat-icon>
                </button>
            </div>

            <div class="form-group col-md-6">
                <label for="txtNome">Funcionário</label>
                <input type="text" class="form-control" id="txtNome" name="Codigo" [(ngModel)]="Usuario.idPessoa">
            </div>
            <div class="form-group col-md-3">
                <label for="PerfilId">Perfil</label>
                <select id="PerfilId" class="form-control" [(ngModel)]="Usuario.idPerfil" name=" idPerfil">
                    <option [value]=perfil.IdPerfil *ngFor="let perfil of Perfis">
                        {{perfil.Nome}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-row">


        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputState">Email de Login</label>
                <input type="text" class="form-control" id="txtCpf" name="Codigo" [(ngModel)]="Usuario.login">
            </div>
            <div class="form-group col-md-4">
                <label for="txtCpf">Senha</label>
                <input type="password" class="form-control" id="txtCpf" name="Codigo" [(ngModel)]="Usuario.senha">
            </div>
            <div class="form-group col-md-4">
                <label for="txtRg">Confirmação de Senha</label>
                <input type="password" class="form-control" id="txtRg" name="Codigo" [(ngModel)]="ConfirmacaoSenha">
            </div>
        </div>


        <app-footer>
            <span rodape>
                <button type="submit" (click)="Gravar()" class="btn btn-secondary ml-5 rounded-pill">Salvar</button>
                <button type="button" class="btn btn-secondary ml-5 rounded-pill">Novo</button>
            </span>
        </app-footer>
    </div>


</form>


<div class="modal fade" id="ModalPesquisa" tabindex="-1" role="dialog" aria-labelledby="ModalPesquisaLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="ModalPesquisaLabel">Pesquisa de Usuário</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row mb-2">
                    <label for="txtCodigo" class="col-md-1">Pesquisa</label>
                    <input class="form-control col-md-11" type="text" name="search">
                </div>
                <div class="Teste">
                    <table class="table table-striped">
                        <thead class="tabelas">
                            <tr>
                                <th scope="col">Código</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Selecionar</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>


            </div>

        </div>
    </div>
</div>