<app-menu></app-menu>
<div class="TituloPagina">
    <span>Cadastro de Usuário</span>
</div>

<form>
    <div class="container corpo">
        <div class="form-row">
            <app-alert aria-live="polite" aria-atomic="true"></app-alert>
            <div class="form-group col-md-1">
                <label for="txtCodigo">Código</label>
                <input type="text" class="form-control" [formControl]="queryUsuario" id="txtCodigo" name="Codigo"
                    [(ngModel)]="Usuario.IdUsuario">
            </div>
            <button #ModalSearchUsuario class="btn btn-info btnsearch btn-sm d-none" data-toggle="modal"
                data-target="#ModalPesquisaUsuario">
                <mat-icon [inline]="true" aria-hidden="false" aria-label="search">search</mat-icon>
            </button>
            <div class="form-group mt-4 col-md-1">
                <button type="button" class="btn btn-info btnsearch " (click)='PesquisarUsuario()'>
                    <mat-icon [inline]="true" aria-hidden="false" aria-label="search">search</mat-icon>
                </button>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-1">
                <label for="txtNome">Funcionário</label>
                <input type="text" class="form-control" [formControl]="queryPessoa" id="txtNome" name="Codigo"
                    [(ngModel)]="Usuario.IdPessoa">
            </div>
            <button type="button" #modalSearchPessoa class="btn btn-info btnsearch btn-sm d-none" data-toggle="modal"
                data-target="#ModalPesquisaPessoa">
                <mat-icon [inline]="true" aria-hidden="false" aria-label="search">search</mat-icon>
            </button>
            <div class="form-group mt-4 col-md-0.5 mr-2">
                <button class="btn btn-info btnsearch " (click)='pesquisarFuncionario()'>
                    <mat-icon [inline]="true" aria-hidden="false" aria-label="search">search</mat-icon>
                </button>
            </div>
            <div class="form-group col-md-3 mt-5">
                <label for="txtNome">{{NomePessoa}}</label>
            </div>
            <div class="form-group col-md-3">
                <label for="PerfilId">Perfil</label>
                <select id="PerfilId" class="form-control" [(ngModel)]="Usuario.IdPerfil" name=" idPerfil">
                    <option [value]=perfil.IdPerfil *ngFor="let perfil of Perfis">
                        {{perfil.Nome}}
                    </option>
                </select>
            </div>
            <div class="form-group col-md-3 ml-5 mt-4 checkboxInativo">
                <mat-checkbox color="primary" name="inativo" [(ngModel)]="Usuario.Inativo"> Inativo </mat-checkbox>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="txtlogin">Email de Login</label>
                <input type="text" class="form-control" id="txtlogin" name="txtlogin" [(ngModel)]="Usuario.Login">
            </div>
            <div class="form-group col-md-4">
                <label for="txtCpf">Senha</label>
                <input type="password" class="form-control" id="txtCpf" name="txtsenha" [(ngModel)]="Usuario.Senha">
            </div>
            <div class="form-group col-md-4">
                <label for="txtRg">Confirmação de Senha</label>
                <input type="password" class="form-control" id="txtRg" name="txtconfirmasenha"
                    [(ngModel)]="ConfirmacaoSenha">
            </div>
        </div>


        <app-footer>
            <span rodape>
                <button type="submit" (click)="Gravar()" class="btn btn-secondary ml-5 rounded-pill">Salvar</button>
                <button type="button" (click)="Limpar()" class="btn btn-secondary ml-5 rounded-pill">Novo</button>
            </span>
        </app-footer>
    </div>


</form>


<div class="modal fade" id="ModalPesquisaPessoa" tabindex="-1" role="dialog" aria-labelledby="ModalPesquisaPessoaLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="ModalPesquisaLabel">Pesquisa de Funcionário</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row mb-2">
                    <div class="form-group col-md-3">
                        <label for="inputState">Pesquisa</label>
                        <select id="inputState" class="form-control" [(ngModel)]="FiltroPesquisa"
                            name=" idFiltroPesquisa">
                            <option [value]=filtro.Codigo *ngFor="let filtro of Filtros">
                                {{filtro.Descricao}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-7 mt-2">
                        <label for="inputState"></label>
                        <input class="form-control" type="text" name="search" [(ngModel)]="InputFiltroPesquisa">
                    </div>
                    <div class="form-group col-md-1 mt-2">
                        <label for="inputState"></label>
                        <button class="btn btn-info btnsearch " (click)='PesquisarFuncionarioPorFiltro()'>
                            Pesquisar
                        </button>
                    </div>
                </div>
                <div class="grades">
                    <table class="table table-striped">
                        <thead class="tabelas">
                            <tr>
                                <th scope="col">Código</th>
                                <th scope="col">Nome/RazãoSocial </th>
                                <th scope="col">Apelido/Nome Fantasia</th>
                                <th scope="col">CPF/CNPJ</th>
                                <th scope="col">Genero</th>
                                <th scope="col">Selecionar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pessoa of Pessoas ">
                                <th scope="row">{{pessoa.IdPessoa}}</th>
                                <td>{{pessoa.NomeRazao}}</td>
                                <td>{{pessoa.ApelidoFantasia}}</td>
                                <td>{{pessoa.CpfCnpj}}</td>
                                <td>{{pessoa.Genero}}</td>
                                <td><button class="btn btn-info btnselecionar btn-sm" data-dismiss="modal"
                                        aria-label="Close" (click)="selecionarPessoa(pessoa)">
                                        <mat-icon [inline]="true" aria-hidden="false" aria-label="selecionar">
                                            done_outline</mat-icon>
                                    </button></td>
                            </tr>
                        </tbody>
                        <tbody>

                        </tbody>
                    </table>
                </div>
                <div class="float-right">
                    <pagination-controls previousLabel="Anterior" nextLabel="Proxima" responsive="true" autoHide="true"
                        (pageChange)="handlePageChange($event)"></pagination-controls>
                </div>

            </div>

        </div>
    </div>
</div>



<div class="modal fade" id="ModalPesquisaUsuario" tabindex="-1" role="dialog"
    aria-labelledby="ModalPesquisaUsuarioLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="ModalPesquisaLabel">Pesquisa de Usuário</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row mb-2">
                    <div class="form-group col-md-3">
                        <label for="inputState">Pesquisa</label>
                        <select id="inputState" class="form-control" [(ngModel)]="FiltroPesquisaUsuario"
                            name=" idFiltroPesquisa">
                            <option [value]=filtro.Codigo *ngFor="let filtro of FiltrosUsuario">
                                {{filtro.Descricao}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-7 mt-2">
                        <label for="inputState"></label>
                        <input class="form-control" type="text" name="search" [(ngModel)]="InputFiltroPesquisaUsuario">
                    </div>
                    <div class="form-group col-md-1 mt-2">
                        <label for="inputState"></label>
                        <button class="btn btn-info btnsearch " (click)='PesquisarUsuarioPorFiltro()'>
                            Pesquisar
                        </button>
                    </div>
                </div>
                <div class="grades">
                    <table class="table table-striped">
                        <thead class="tabelas">
                            <tr>
                                <th scope="col">Código</th>
                                <th scope="col">Funcionario </th>
                                <th scope="col">Login</th>
                                <th scope="col">Perfil</th>
                                <th scope="col">Selecionar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usuario of Usuarios ">
                                <th scope="row">{{usuario.IdUsuario}}</th>
                                <td>{{usuario.NomePessoa}}</td>
                                <td>{{usuario.Login}}</td>
                                <td>{{usuario.NomePerfil}}</td>
                                <td><button class="btn btn-info btnselecionar btn-sm" data-dismiss="modal"
                                        aria-label="Close" (click)="selecionarUsuario(usuario)">
                                        <mat-icon [inline]="true" aria-hidden="false" aria-label="selecionar">
                                            done_outline</mat-icon>
                                    </button></td>
                            </tr>
                        </tbody>
                        <tbody>

                        </tbody>
                    </table>
                </div>
                <div class="float-right">
                    <pagination-controls previousLabel="Anterior" nextLabel="Proxima" responsive="true" autoHide="true"
                        (pageChange)="handlePageChange($event)"></pagination-controls>
                </div>

            </div>

        </div>
    </div>
</div>