<app-menu></app-menu>
 <div class="TituloPagina">
   <span>Cadastro de Categoria de Email</span>
 </div>

<form>
    <div class="container corpo">
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="txtCodigo">Código</label>
                <input type="text" name="codigo" class="form-control" id="txtCodigo" [(ngModel)]="categoria.IdCategoriaEmail">
            </div>
            <div class="form-group col-md-5">
                <label for="txtNome">Nome</label>
                <input type="text" name="Nome" class="form-control" id="txtNome"  [(ngModel)]="categoria.Nome">
            </div>
            <div class="form-group col-md-5">
                <label for="txtApelido">Descrição</label>
                <input type="text" name="Descricao" class="form-control" id="txtDescricao" [(ngModel)]="categoria.Descricao">
            </div>
        </div>  
        <table class="table">
          <thead class="tabelas">
            <tr>
              <th scope="col">Código</th>
              <th scope="col">Nome</th>
              <th scope="col">Descrição</th>
              <th scope="col">Selecionar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let categoria of categorias">
              <th scope="row">{{categoria.IdCategoriaEmail}}</th>
              <td>{{categoria.Nome}}</td>
              <td>{{categoria.Descricao}}</td> 
              <td><button class="btn btn-info btnselecionar"
                (click)="selecionarCategoria(categoria)">
                <mat-icon [inline]="true" aria-hidden="false" aria-label="selecionar">done_outline</mat-icon>
              </button></td>              
            </tr>                
          </tbody>
        </table>
     </div>           
 <app-footer>
    <span rodape>
        <button type="button" (click)="Gravar()" class="btn btn-secondary ml-5 rounded-pill">Salvar</button>
        <button type="button" class="btn btn-secondary ml-5 rounded-pill">Excluir</button>
        <button type="button" (click)="Limpar()" class="btn btn-secondary ml-5 rounded-pill">Novo</button>
    </span>
 </app-footer>

</form>
