<app-menu></app-menu>
 <div class="TituloPagina">
   <span>Cadastro de Vinculo Com a Empresa</span>
 </div>

<form>
    <div class="container corpo">
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="txtCodigo">Código</label>
                <input type="text" class="form-control" id="txtCodigo" name="codigo" [(ngModel)]="vinculo.IdVinculo">
            </div>
            <div class="form-group col-md-10">
                <label for="txtNome">Nome</label>
                <input type="text" class="form-control" id="txtNome" name="nome" [(ngModel)]="vinculo.Nome">
            </div>
        </div>  
            <table class="table">
              <thead class="tabelas">
                <tr>
                  <th scope="col">Código</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Selecionar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let vinculo of vinculos">
                  <th scope="row">{{vinculo.IdVinculo}}</th>
                  <td>{{vinculo.Nome}}</td>   
                  <td><button class="btn btn-info btnselecionar btn-sm"
                    (click)="selecionarVinculo(vinculo)">
                    <mat-icon [inline]="true" aria-hidden="false" aria-label="selecionar">done_outline</mat-icon>
                  </button></td>                 
                </tr>                
              </tbody>
            </table>
     </div>           
 <app-footer>
    <span rodape>
      <button type="button" (click)="Gravar()" class="btn btn-secondary ml-5 rounded-pill">Salvar</button>
      <button type="button" class="btn btn-secondary ml-5 rounded-pill">Excluir</button>
      <button type="button" (click)="Limpar()" class="btn btn-secondary ml-5 rounded-pill">Novo</button>
    </span>
 </app-footer>

</form>

