<app-page-logada>
    <div Logadas>

        <app-menu></app-menu>
        <div class="TituloPagina">
            <span>Cadastro de Produto</span>
        </div>
        <form>
            <div class="container corpo">
                <app-alert aria-live="polite" aria-atomic="true"></app-alert>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="txtCodigo">Código</label>
                        <input type="text" class="form-control" [formControl]="queryProduto" id="txtCodigo"
                            appSomenteNumeros name="Codigo" [(ngModel)]="Produto.IdProduto">
                    </div>
                    <button type="button" #modalSearch class="btn btn-info btnsearch btn-sm d-none" data-toggle="modal"
                        data-target="#ModalPesquisa">
                        <mat-icon [inline]="true" aria-hidden="false" aria-label="search">search</mat-icon>
                    </button>
                    <div class="form-group mt-4 col-md-0.5 mr-2">
                        <button type="button" class="btn btn-info btnsearch " (click)='Pesquisar()'>
                            <mat-icon [inline]="true" aria-hidden="false" aria-label="search">search</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label for="txtNome">Nome Técnico</label>
                        <input type="text" class="form-control" id="txtNome" name="Nome"
                            [(ngModel)]="Produto.NomeTecnico">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label for="txtNomeComercial">Nome Comercial</label>
                        <input type="text" class="form-control" name="NomeComercial" id="txtNomeComercial"
                            [(ngModel)]="Produto.NomeComercial">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="txtCodigointerno">Código Interno</label>
                        <input type="text" class="form-control" id="txtCodigointerno" name="CodigoInterno"
                            [formControl]="queryProdutoCodigoInterno" [(ngModel)]="Produto.CodigoInterno">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="txtCpf">Preço à Vista</label>
                        <input type="text" class=" form-control" id="txtVista" [(ngModel)]="Produto.Vista"
                            appSomenteNumeros decimals="2" name="vista">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="txtRg">Preço à Prazo</label>
                        <input type="text" class="form-control" id="txtPrazo" [(ngModel)]="Produto.Prazo"
                            appSomenteNumeros decimals="2" name="Prazo">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label for="txtRg">Descrição</label>
                        <textarea class="form-control" id="txtDescricao" [(ngModel)]="Produto.Descricao" rows="3"
                            name="Decricao">
                        </textarea>
                    </div>
                </div>
            </div>


            <app-footer>
                <span rodape>
                    <button type="submit" (click)="Gravar()" class="btn btn-secondary ml-5 rounded-pill">Salvar</button>
                    <button type="button" (click)="Limpar()" class="btn btn-secondary ml-5 rounded-pill">Novo</button>
                </span>
            </app-footer>

        </form>

        <div class="modal fade" id="ModalPesquisa" tabindex="-1" role="dialog" aria-labelledby="ModalPesquisa"
            aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="ModalPesquisaLabel">Pesquisa de Produtos</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-row mb-2">
                            <div class="form-group col-md-3">
                                <label for="inputState">Pesquisa</label>
                                <select id="inputState" class="form-control" [(ngModel)]="FiltroPesquisa"
                                    name=" idpesquisa">
                                    <option [value]=filtro.Codigo *ngFor="let filtro of Filtros">
                                        {{filtro.Descricao}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-md-7 mt-2">
                                <label for="inputState"></label>
                                <input class="form-control" type="text" name="search" [(ngModel)]="InputFiltroPesquisa">
                            </div>
                            <div class="form-group col-md-1 mt-2">
                                <label for="inputState"></label>
                                <button class="btn btn-info btnsearch " (click)='PesquisarPorFiltro()'>
                                    Pesquisar
                                </button>
                            </div>
                        </div>
                        <div class="grades">
                            <table class="table table-striped">
                                <thead class="tabelas">
                                    <tr>
                                        <th scope="col">Código</th>
                                        <th scope="col">Nome Técnico</th>
                                        <th scope="col">Nome Comercial</th>
                                        <th scope="col">Código Interno</th>
                                        <th scope="col">Descrição</th>
                                        <th scope="col">Selecionar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="let Produto of Produtos| paginate: { itemsPerPage: 5, currentPage: paginaAtual }; let i = index ">
                                        <th scope="row">{{Produto.IdProduto}}</th>
                                        <td>{{Produto.NomeTecnico}}</td>
                                        <td>{{Produto.NomeComercial}}</td>
                                        <td>{{Produto.CodigoInterno}}</td>
                                        <td>{{Produto.Descricao}}</td>

                                        <td><button class="btn btn-info btnselecionar btn-sm" data-dismiss="modal"
                                                aria-label="Close" (click)="selecionarProduto(Produto)">
                                                <mat-icon [inline]="true" aria-hidden="false" aria-label="selecionar">
                                                    done_outline</mat-icon>
                                            </button></td>
                                    </tr>
                                </tbody>
                                <tbody>

                                </tbody>
                            </table>
                        </div>


                    </div>

                </div>
            </div>
        </div>

        <!-- <button type="button" #abrirmodalConfirmacao class="btn btn-info btnsearch btn-sm d-none" data-toggle="modal"
            data-target="#Modalconfirmacao">
            <mat-icon [inline]="true" aria-hidden="false" aria-label="search">search</mat-icon>
        </button>

        <div class="modal fade modalConfirmacao" id="Modalconfirmacao" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <h2>Já existe um produto com este codigo interno deseja carregar esse produto?</h2>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" (click)="CancelarpreencheProduto()"
                            data-dismiss="modal">ok</button>
                    </div>
                </div>
            </div>
        </div> -->

    </div>
</app-page-logada>