.corpo{
    padding-bottom: 6%;
    padding-top: 2%;
}

.TituloPagina{
    background-color: darkgrey;
    color:white;
    font: 1.5em sans-serif;
    text-align: center;
}
label{
    margin-bottom: -1em;
}

.form-row{
    margin-bottom: 1em;
}
