<app-page-logada>
    <div Logadas>

        <app-menu></app-menu>
        <div class="TituloPagina">
            <span>Cadastro de Produto</span>
        </div>
        <form>
            <div class="container corpo">
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="txtCodigo">Código</label>
                        <input type="text" class="form-control" id="txtCodigo" name="Codigo"
                            [(ngModel)]="Produto.idProduto">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="txtNome">Nome Técnico</label>
                        <input type="text" class="form-control" id="txtNome" name="Nome"
                            [(ngModel)]="Produto.nomeTecnico">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="txtNomeComercial">Nome Comercial</label>
                        <input type="text" class="form-control" name="NomeComercial" id="txtNomeComercial"
                            [(ngModel)]="Produto.nomeComercial">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="txtCpf">Codigo Interno</label>
                        <input type="text" class="form-control" id="txtCodigointerno" name="CodigoInterno"
                            [(ngModel)]="Produto.codigoInterno">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="txtRg">Descrição</label>
                        <input type="text" class="form-control" id="txtDescricao" [(ngModel)]="Produto.descricao"
                            name="Decricao">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="txtCpf">Preço à vista</label>
                        <input type="text" class="form-control" id="txtVista" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                            [(ngModel)]="Produto.vista" name="vista">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="txtRg">Preço à Prazo</label>
                        <input type="text" class="form-control" id="txtPrazo" [(ngModel)]="Produto.prazo" name="Prazo">
                    </div>
                </div>
            </div>


            <app-footer>
                <span rodape>
                    <button type="submit" (click)="Gravar()" class="btn btn-secondary ml-5 rounded-pill">Salvar</button>
                    <button type="button" class="btn btn-secondary ml-5 rounded-pill">Novo</button>
                </span>
            </app-footer>

        </form>
    </div>
</app-page-logada>